@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* nav start  */
header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}
/* nav banner start  */
.nav-banner-info {
  max-width: 862px;
  margin: 50px auto;
  text-align: center;
}
.nav-banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.nav-banner-text {
  color: #727272;
  font-size: 1rem;
  margin: 30px 0px;
}
.nav-banner-btn {
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  font-weight: 600;
  font-size: 1.4rem;
  border: none;
  color: #fff;
  cursor: pointer;
}
.nav-banner img {
  width: 100%;
  border-radius: 10px;
}
/* main start  */
main {
  max-width: 1440px;
  margin: 80px auto;
  padding: 0 20px;
}
/* team-container start */
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-img-container img {
  width: 100%;
  border-radius: 10px;
}
.team-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-weight: 700;
}
.team-features {
  color: #ff900e;
  font-weight: 700;
}
.team-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin: 30px 0px;
}
/* Some Facts start */
.facts-container {
  margin: 100px 0;
}
.facts-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.facts-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}
/* cards-sec-start  */
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}
.card {
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
  min-height: 240px;
  min-width: 240px;
  padding: 50px;
}
.card-number{
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
}
.card-title{
  color: #727272;
  font-size: 1rem;
  font-weight: 600;
}
/* Sponsors-sec-start */
.sponsors-container{
  text-align: center; 
  margin: 100px 0;
}
.sponsors-img-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
/* responsive media queries */
@media screen and (max-width: 576px) {
  /* header start  */
  header {
    padding: 20px;
  }
  .nav-logo {
    font-size: 2rem;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 30px;
  }
  nav li {
    margin: 10px;
  }
  .nav-banner-title {
    font-size: 2.5rem;
  }
  .nav-banner-btn {
    font-size: 1rem;
  }
  /* main start  */
  .team-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .team-img-container {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  /* cards-sec-start  */
  .card-container{
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  /* Sponsors-sec-start */
  .sponsors-img-container{
   flex-direction: column;
   gap: 1.5rem;
  }
}
/* responsive media queries for mid device*/
@media screen and (min-width: 576px) and (max-width: 960px) {
  /* header start  */
  header {
    padding: 50px;
  }
  .nav-logo {
    font-size: 2rem;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 30px;
  }
  nav li {
    margin: 20px;
  }
  .nav-banner-title {
    font-size: 2.5rem;
  }
  .nav-banner-btn {
    font-size: 1rem;
  }
  /* main start  */
  .team-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .team-img-container {
    margin-top: 50px;
  }
  /* cards-sec-start  */
  .card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
  }
  /* Sponsors-sec-start */
  .sponsors-img-container{
    flex-direction: column;
    gap: 1.5rem;
   }
}
